@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body {
  background-image: url(c_.jpg);
  background-size: cover;
  background-position: center center;
  font-family: sans-serif;
  font-family: 'Open Sans';
  color: rgb(180,180,190);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.center-text {
  text-align: center;
}

.what {
  font-size: min(6.8vw, 12vh);
  margin-bottom: 1em;
  text-shadow: 0 2px 3px rgba(0,0,0,.95);
  line-height: 90%;
}
@media screen and (max-width: 600px) {
  .what {
    font-size: min(6.2vw, 10vh);
  }
}

.links {
  display: inline-block;  /* so it can be centered */
  text-shadow: 0 -2px 3px rgba(0,0,0,.95);
  font-size: min(4vw, 7vh);
  text-align: left;
}

a {  /* thin underline */
  text-decoration: none;
  background-image: linear-gradient(0,rgb(180,180,190),rgb(180,180,190));
  background-position: 0 1.1em;
  background-repeat: repeat-x;
  background-size: 10px 1px;
}
a:link,
a:visited {
  color: inherit;
}
a:hover {
  color: rgb(200,200,230);
  background-color: rgba(6,6,6,0.2);
}
