@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400&display=swap');

body {
  font-family: 'Fira Code', monospace;
  color: rgb(26,26,26);
  background-color: rgb(226,226,226);
  font-size: 3vmin;
}

.body-wrapper {
  margin: 1rem;
}

.deemph2 {
  color: rgb(26,26,26, 0.5);
}

h1:before {
  content: "# ";
  color: rgb(26,26,26, 0.3);
}

h2:before {
  content: "## ";
  color: rgb(26,26,26, 0.3);
}

h2 {
  margin-top: 3rem;
}

a {
  text-decoration-color: rgb(166,166,166);
}
a:link,
a:visited {
  color: inherit;
}
a:hover {
  text-decoration: none;
  color: rgb(266,266,266);
  background-color: rgba(86,86,86);
}
