/* div { border: 2px solid red; } */
* { box-sizing: border-box; }
body {
  /* font-family: 'Helvetica', sans-serif; */
  font-family: 'Segoe UI','Roboto','Helvetica Neue',sans-serif;
  margin: 0;
  background-color: #fafafa;
  line-height: 170%;
}
h1 {
  font-family: serif;
  font-weight: 100;
  font-size: 2.3em;
  letter-spacing: 5px;
  line-height: 120%;
}
h2, h3 {
  font-weight: 400;
  letter-spacing: 3px;
  margin-top: 2em;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.center-col {
  margin: 1em 2em 0 2em;
  max-width: 1000px;
}
.header-img {
  max-width: 400px;
  margin-left: 1em;
  float: right;
}
.main-conference {
  margin-top: 3em;
}
.label-wrapper {
  display: flex;
  justify-content: space-between;
}
.width100 {
  width: 100%;
}
.columns {
  display: flex;
}
.columns > div {
  padding: 1em;
}
.center {
  text-align: center;
}
button#register {
  width: 300px;
  padding: 1em;
  margin-top: 1em;
  font-size: 1.1em;
  border-radius: 0.5em;
  background-color: lightsalmon;
  color: antiquewhite;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}



/* Stuff for form. */
#hackform {
  border-radius: 0.8em;
  padding: 2.5em;
  box-shadow: 0 0 1em rgba(0,0,0,0.1);
}
#hackform > div {
  padding: 1.5em;
}
#hackform label {
  width: 100%;
  /* padding-right: 4em; */
}
#hackform .classes {
  padding-right: 3em;
}
.label-wrapper {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}

.tier-price {
  text-align: right;
  margin-left: 1em;
}
.tier-width-class {
  width: 300px;
}

.tier-wrapper--hidden {
  display: none;
}

.fullscreen {
  position: fixed;
  top: 0px;
  left: 0px;
  display: block;
  margin: 0px;
  padding: 0px;
  border: none;
  height: 100vh;
  width: 100vw;
  z-index: 2147483647;
}

.formgrid {
  display: grid;
  grid-template-columns: repeat(4, auto);
}

.formgrid > div {
  padding: 0.5em;
}

select {
  width: 100%;
}

.odd-row {
  background-color: rgb(220,220,220);
}

.header {
  color: white;
  background-color: rgb(10,77,126);
  text-align: center;
  font-size: larger;
  font-weight: bold;
}

.submit-btn-row {
  grid-column: 1 / -1;
  text-align: center;
}

.submit-btn {
  color: white;
  background-color: rgb(10,77,126);
  font-size: large;
  padding: 0.5em 1em 0.5em 1em;
  border-radius: 0.5em;
}
